<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <%= link_to "Back to events", events_path %>

  <% if current_user == @event.user %>
    <%= link_to "Edit this event", edit_event_path(@event) %>
    <%= link_to "Destroy this event", @event, data: { turbo_method: :delete } %>
  <% end %>
</div>
